body {
    background-image : url("imagefondlycky90.jpg");
    background-attachment: fixed;
    background-size : 100%;
    width : 1000px;
    height : 300px;
    position: relative;
    right : 8px;
    bottom : 8px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
     
        
        
        
       
}

.boutonarriere
{
   font-size : 28px;
   color : gray; 
   background-color: blanchedalmond;
   opacity : 0.9;
   position : relative;
   top : 35px;
   left : 30px;
   padding-right : 50px;
   padding-left : 20px;
   text-transform: none;
   text-decoration :none;
   overflow-x : hidden;
   
}

.dplcall 
 {
    position : relative;
    top : 80px;
 }

/*1er PARTIE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/*1er PARTIE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* NAV BARRE MISE EN PAGE DE DEBUT ----------------------------------------! */ 
/* DIV BARRE -----------------------------------------------------------*/

/* 2ème PARTIE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* 2ème PARTIE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

h1 {

 
      color : blanchedalmond;
        font-family: "Racing Sans One", sans-serif;
        font-weight: 400;
        font-style: oblique;  
        font-size : 100px;
        letter-spacing : 5px;
        position : relative;
        bottom : 200px;
        left : 700px;
        opacity: 1;
        font-style : oblique;
        text-shadow : 0px 0px 5px rgb(255, 244, 226);
}
.barreparag
{

    
}
.parag1
{
    z-index : 100;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;  
    font-size : 20px;
    color : blanchedalmond;
    letter-spacing : 6px;
    position : relative;
    top : 900px;
    border : 20px solid blanchedalmond;
    left: 400px;
    line-height : 40px;
    border : 0px;
    padding : -70px ;
    margin :-130px;
    
}

.parag1bis
{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: oblique;  
    font-size : 20px;
    color :blanchedalmond;
    letter-spacing : 6px;
    position : relative;
    left :150px;
    bottom : 250px;
    word-spacing : 30px;
}

/* 2ème PARTIE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* 2ème PARTIE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* MISE EN VENTE PREMIER SCOOTER */

.displayinline
{
    display : inline;
    right : 24px;
}
.dp1
{
   position : relative;
   right: 50px ;
   bottom : 1300px;
   right : 140px;
  

  
}

.s4
{
    display: inline-block;
    border : 10px solid ;
    border-color : rgb(26, 24, 21);
    border-style : ridge;
    box-shadow : 10px 50px 30px rgb(255, 244, 226)  ;
    opacity :1;
    padding-bottom : 70px;
    width : 1500px;
    height : 2250px;
    position : relative;
    top : 20px;
    left : 290px; 
    background-color: rgb(0, 0, 0);
    opacity : 0.8;
}

.I4
{
    width : 950px;
    position : relative;
    top : 25px;
    right: 135px;
    opacity :1;
    
}

.positionimage4
{
    width : 400px;
    position : relative;
    top : 100px;
    left : 415px;
    opacity :1;
}

.mev4
{
    font-family: "Rubik Glitch", system-ui;
    font-weight: 300;
    font-style: normal;
    color: blanchedalmond;
    opacity : 1;
    position : relative ;
    bottom :2350px;
    left : 630px;
    font-size : 100px;
    text-shadow: 10px 0px 30px rgb(255, 244, 226);
    
    
}
.prixmev4
{
    font-family: "Rubik Glitch", system-ui;
    font-weight: 300;
    font-style: normal;
    color: blanchedalmond;
    opacity : 1;
    position : relative ;
    bottom : 1950px;
    left : 845px;
    font-size : 100px;
    text-shadow : 30px 0px 30px rgb(255, 244, 226);
    
}

.o1
{
    font-family: "Rubik Glitch", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size : 30px;
    color :blanchedalmond;
    letter-spacing : 6px;
    position : relative;
    left :150px;
    bottom : 3900px;
    letter-spacing : 60px;
    writing-mode: vertical-rl;
    display: inline-block;
    white-space: nowrap;
    text-shadow : 0px 0px 10px rgb(255, 244, 226);

}

.o2
{
    font-family: "Rubik Glitch", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size : 30px;
    color :blanchedalmond;
    letter-spacing : 6px;
    position : relative;
    left :150px;
    bottom : 3900px;
    left : 1450px;
    letter-spacing : 60px;
    writing-mode: vertical-rl;
    display: inline-block;
    white-space: nowrap;
    text-shadow : 0px 0px 10px rgb(255, 244, 226);

}
/* MISE EN VENTE PREMIER SCOOTER */
